body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
/* .my-5{
    text-align: center!important;
    margin-bottom: 3rem!important;
    margin-top: 3rem!important;
} */
.container{
    max-width: 1000px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1 {
    color: #17a2b8;
    font-size: 40px;
    
}


input {
    background-color: transparent !important;
    color: #fff !important;
    
   
}
input::placeholder {
    color: rgb(182, 182, 182) !important;
}

.text-white a {
    text-decoration: none;
    transition: all 0.5s;
}
.text-white a:hover{
    text-decoration:underline;
}

input:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
    transition: all 0.5s;
}
.btn-outline-info:hover {
 -webkit-text-fill-color: #fff;
}

